{% extends 'layout.html' %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Coding Forum</h1>
              <span class="subheading">To improve the coding capability | To learn new technologies 
              | Peers to peers knowledge sharing | Participation on competitive events</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>VIIT Coding Forum aims to learn ,share and develop latest and advanced computer related software and software technologies in the forum. The forum introduces the memebers to international coding standards and help them to develop and improve their technnical and employability skills. The forum encourages the members to participate in various technical events and hackathons on diifferent levels.</p>
        </div>
      </div>
    </div>

    <hr>
{% endblock %}
