{% extends 'layout.html' %}

{% block body %}
        <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/402639179-coding-wallpapers.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h2>Welcome to Coding Forum VIIT</h2>
              <span class="subheading">A Forum for helping each other and to grow together.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">

        <!-- <div class="col-lg-8 col-md-10 mx-auto"> -->

          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Machine Learning.
              </h2>
              <h3 class="post-subtitle">
                General Discussion.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <kbd >Chinnmay Chaudhari</kbd>
              on September 24, 2018</p>
          </div>
          <hr>

          <!-- Pager -->

        <!-- </div> -->
      </div>
    </div>

    <hr>
{% endblock %}